<ul>
  <% @filenames.each do |filename| %>
  <li>
    <a href="/<%= filename %>"><%= filename %></a>
    <a href="/<%= filename %>/edit">edit</a>
    <form class="inline" action="/<%= filename %>/delete" method="POST">
      <button>delete</button>
    </form>
  </li>
  <% end %>
</ul>

<p><a href="/new">New Document</a></p>

<% if session[:uname] %>
<form class="user-status" action="/users/signout" method="POST">
  <p>
    Signed in as <%= session[:uname] %>.
    <button>Sign Out</button>
  </p>
</form>
<% else %>
<form class="user-status" action="/users/signin">
  <button>Sign In</button>
</form>
<% end %>
